.l-cover {
  padding-top: 6.8rem;
  text-align: center;

  &.l-cover--detail {
    .l-cover-bg {
      width: 80%;
      margin-left: auto;

      @include max-screen($breakpoint-mobile) {
        width: 85%;
        height: 305px;
        padding-top: 0;
      }
    }
  }
}

.l-cover-bg {
  position: relative;
  padding-top: calc(525 / 1280 * 100%);
  background-image: url(#{$path-image}/interview/cover.png);

  @include max-screen($breakpoint-mobile) {
    padding-top: calc(400 / 375 * 100%);
    background-image: url(#{$path-image}/interview/cover-sp.png);
  }
}

.l-cover__title {
  position: absolute;
  top: calc(166 / 525 * 100%);
  left: 50%;
  text-align: center;
  color: #fff;
  transform: translate(-50%);
}

.l-cover__title-en {
  position: relative;
  margin-bottom: 1.95312vw;
  padding-bottom: 3.51562vw;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 3.67rem;
    padding-bottom: 3.9rem;
  }

  &:before {
    display: inline-block;
    width: 200px;
    height: 1px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: calc(50% - 100px);
    content: '';
    background-color: #fff;
  }

  img {
    width: 31.10078vw;
    height: auto;

    @include max-screen($breakpoint-mobile) {
      width: 19.5rem;
    }
  }
}

.l-cover__title-ja {
  line-height: 2.45rem;
  white-space: nowrap;
  letter-spacing: .4em;
}
