.interview-block {
  text-align: left;

  &:hover {
    .interview-block__image {
      .interview-block__img {
        transform: scale(1.1);
      }
    }
  }
}

.interview-block__image {
  overflow: hidden;
  width: 100%;

  .interview-block__img {
    width: 100%;
    height: 235px;
    transition: transform .45s ease;

    @include max-screen($breakpoint-mobile) {
      height: 120px;
    }
  }
}

.interview-block__tagline {
  margin: 15px 0;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: .18em;

  @include max-screen($breakpoint-mobile) {
    font-size: 1.4rem;

    br {
      display: none;
    }
  }
}

.interview-block__company,
.interview-block__department,
.interview-block__position {
  font-size: 12px;

  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
  }
}

.interview-block__name {
  margin-top: 15px;
}

.interview-block__name-ja,
.interview-block__name-en {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: .18em;
  text-transform: uppercase;

  @include max-screen($breakpoint-mobile) {
    font-size: 1.5rem;
  }
}

.interview-block__name-ja {
  &:after {
    position: relative;
    left: 2px;
    content: 'ï½œ';
  }
}

.interview-block__name-en {
  position: relative;
  top: -1px;
  font-family: $font-montserrat;
  font-weight: bold;
  letter-spacing: .1em;

  @include max-screen($breakpoint-mobile) {
    display: block;
    top: 0;
    font-size: 1.2rem;
  }
}
